
body{
	margin: 0px;
}
.ad{
	width:900px;
	height:250px;
	min-height:250px;
}
.tile{
	width:300px;
	height:250px;
	min-height: 250px;
	box-sizing:border-box;
	border: 1px solid gray;
	padding-top: 25px;
	padding-bottom: 25px;
	float:left;
}
.tile .content{
	width:100%;
	height:200px;
	min-height:200px;
	background-color: rgba(0,0,0,.5);
}
@media screen and (max-width: 600px){
	.ad{
		width:300px;
		height:600px;
		min-height:600px;
	}
	.tile{
		height:200px;
		min-height:200px;
		padding: 0px;
	}
}

.bg-red{
	background-color: red;	
}
.bg-green{
	background-color: green;	
}
.bg-blue{
	background-color: blue;	
}